---
import type { ImageMetadata } from "astro";

// import.meta.globで画像をlazyロード
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/sponsors/*.{png,svg}",
);

type Props = {
  sponsor: {
    rank: "platinum" | "gold" | "silver" | "bronze";
    name: string;
    url: string;
    image: string;
  };
};

const props = Astro.props;
const { rank, name, url, image } = props.sponsor;

const imagePath = `/src/assets/sponsors/${image}`;
let imageUrl = "";

if (images[imagePath]) {
  const imageModule = await images[imagePath]();
  imageUrl = imageModule.default.src;
} else {
  console.error(`Image not found: ${imagePath}`);
}

// ランクごとのスタイル設定
const rankStyles = {
  platinum: {
    container:
      "mb-4 flex items-center justify-center bg-white p-6 rounded-lg border border-gray-100",
    image: "h-32 w-auto object-contain md:h-36 lg:h-40",
  },
  gold: {
    container:
      "mb-3 flex items-center justify-center bg-white p-6 rounded-lg border border-gray-100",
    image: "h-24 w-auto object-contain md:h-24 lg:h-28",
  },
  silver: {
    container:
      "mb-2 flex items-center justify-center bg-white p-6 rounded-lg border border-gray-100",
    image: "h-16 w-auto object-contain md:h-16 lg:h-20",
  },
  bronze: {
    container:
      "mb-2 flex items-center justify-center bg-white p-6 rounded-lg border border-gray-100",
    image: "h-8 w-auto object-contain md:h-14 lg:h-16",
  },
};

const currentStyle = rankStyles[rank];
---

<a
  href={url}
  class="relative block w-full max-w-xs"
  target="_blank"
  rel="noopener noreferrer"
>
  <div class={currentStyle.container}>
    <img
      alt={name}
      src={imageUrl}
      class={currentStyle.image + " bg-white"}
      loading="lazy"
    />
  </div>
</a>
